h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: darkgreen;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://static.vecteezy.com/system/resources/previews/029/848/768/non_2x/smart-robotic-farmers-agriculture-technology-ai-generated-free-photo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.form__container {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: darkseagreen;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
mat-form-field {
  width: 100%;
  margin-bottom: 1.5rem;
}
mat-label {
  font-size: 1rem;
  color: #f0f0f0;
}
input.mat-input-element {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}
mat-form-field.mat-focused .mat-form-field-label {
  color: #4caf50;
}
mat-error {
  color: red;
  font-weight: bold;
  font-size: 0.9rem;
}
button[mat-flat-button] {
  width: 100%;
  padding: 10px;
  background-color: #00e5ff;
  font-weight: bold;
  font-size: 1rem;
}
button[mat-flat-button]:hover {
  background-color: #00b8d4;
}
button[mat-icon-button] {
  color: #f0f0f0;
}
button[mat-icon-button]:hover {
  color: greenyellow;
}
button {
  width: 100%;
  margin-top: 16px;
}
