<div class="modal" *ngIf="show">
  <div class="modal-content">
    <span class="close-button" (click)="closeModal()">&times;</span>
    <h2>{{ sensor.type }} SENSOR</h2>

    <div class="slider-group">
      <label>Rango de temperatura {{sensor.id}}</label>
      <input type="range" min="0" max="30" [(ngModel)]="range.min" />
      <input type="range" min="0" max="30" [(ngModel)]="range.max" />
      <p>{{ range.min }}° - {{ range.max }}°</p>
    </div>

    <div class="input-group">
      <label>Umbral de alerta (°C)</label>
      <input type="number" [(ngModel)]="alertThreshold" [min]="range.min" [max]="range.max" />
    </div>

    <button (click)="acceptChanges()">Aceptar</button>
  </div>
</div>
