<div class="container">
  <aside class="sidebar">
    <h2 class="logo">GROWEASY</h2>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/analysis">Analysis</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/store">Store</a></li>
      </ul>
    </nav>
    <button class="logout-button" routerLink="/login">log out</button>
  </aside>

  <main class="content">
    <section class="profile">
      <div class="profile-header">
        <img src="https://png.pngtree.com/thumb_back/fw800/background/20220127/pngtree-young-man-young-person-smiling-photo-image_783361.jpg" alt="John Doe" class="profile-image">
        <h1>John Doe</h1>
        <div class="profile-info">
          <p><strong>Mail:</strong> johndoe&#64;gmail.com</p>
          <p><strong>Birthday:</strong> 22/10/2000</p>
          <p><strong>Gender:</strong> Male</p>
          <p><strong>Subscription:</strong> Premium</p>
          <p><strong>Rol:</strong>Expert farmer</p>
          <p><strong>Renewal date:</strong> 30/09/2024</p>
        </div>
      </div>
    </section>
  </main>

</div>
