<div class="container">
  <aside class="sidebar">
    <h2 class="logo">GROWEASY</h2>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/analysis">Analysis</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/store">Store</a></li>
      </ul>
    </nav>
    <button class="logout-button" (click)="logout()">Log out</button>
  </aside>

  <main class="content">
    <section class="profile">
      <div class="profile-header">
        <img src="https://i.imgur.com/VCsvofx.jpeg" class="profile-image">
        <h1>{{ user?.fullName }}</h1>
        <div class="profile-info">
          <p><strong>Username: </strong>{{ user?.username }}</p>
          <p><strong>Birthday:</strong> 22/10/2000</p>
          <p><strong>Gender: </strong> Male</p>
          <p><strong>Subscription: </strong> Premium</p>
          <p><strong>Rol: </strong>{{ user?.role }}</p>
          <p><strong>Renewal date: </strong> 30/09/2024</p>
        </div>
      </div>
    </section>
  </main>

</div>
